* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #0F0F0F; 
    display: flex;
    margin-left: 50px;
    height: 90vh;
   
    align-items: center;
    justify-content: space-around; 
     

}

.robot-img {
    width: 400px; 
    margin-left: 40px; 
}


.text{
   
    color: white;
}
#para,#heading{
    font-size:50px;
    display: flex;
    

}
#voice{
    display: flex;
    flex-direction: column;
    
    margin-left: 50px;
    /* display: none; */
}
#voiceimg{
    width: 600px;
    height: 600px;
}
#btn{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 20px;
    width: 70%;
    height: auto;
    color: white;
    background:linear-gradient(to right,rgb(21,145,207),rgb(201,41,116));
    border: 4px solid aqua;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgb(21,145,207),4px 4px 10px rgb(201,41,116);
    border: none;
    margin: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
#btn:hover{
    box-shadow: 4px 4px 30px rgb(21,145,207),4px 4px 30px rgb(201,41,116);
    letter-spacing: 2px;
    color: antiquewhite;
    transition: all 0.8s;
    
}
#btn img{
    
    margin-right: 10px;
    filter: brightness(0) saturate(100%) invert(100%);
}
